.weather {
  position: relative;
}

.weather__temp {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #fff;
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.2;
}

.weather__image {
  min-height: 80px;
  width: 100%;
}
